h2 {
   text-align: center;
   font-size: 3vw;
   margin-bottom: 5px;
}
table {
    padding: 15px;
}
thead, tr, th {
    text-align: center;
    padding: 15px;
}

tbody, tr, td {
    text-align: center;
    padding: 10px;
}

.student-table-wrapper {
    display: flex;
    align-items: center;
    gap: 15rem;
    
}