.inputFrom {
    padding: 1vw 2vw;
}

input {
    border: none;
    background-color: rgb(240, 248, 255);
    width: 300px;
    padding: 0.7vw 1vw;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    border: none;
    padding: 1vw 1.2vw;
    font-size: 15px;
    border-radius: 20px;
}

button:hover {
    background-color: black;
    color: white;
}

.generatedFees {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: large;
}